{
  "port": 3000,
  "consumer_key": "your consumer key",
  "consumer_secret": "your consumer secret",
  "access_token_key": "your access token key",
  "access_token_secret:" your access token secret",
  "ia_bucket": your IA bucket name,
  "ia_access_key": "your IA access key",
  "ia_secret_key": "your IA secret key"
}
